/* le suffixe module.css permet d'isoler les styles d'un composant */


.site-header{background-color: var(--bordeaux); justify-content: space-between;}

.site-logo{width:6rem;}

.btn-nav-mobile{display:none;}
