/* le suffixe module.css permet d'isoler les styles d'un composant */

.site-header{
    background:var(--rose); 
    display:flex; 
    height:5rem; 
    justify-content:space-between; 
    align-items:center;} 

.site-logo{
    width:8rem;
    padding-top:1rem;} 

.btn-nav-mobile{display:none;}
