/* le suffixe module.css permet d'isoler les styles d'un composant */

.site-header{background-color: var(--beige2); display:flex; height:5rem; justify-content:space-between; align-items:center;} 

.site-logo{width:8rem;} 

.btn-nav-mobile{display:none;}
