/* style communs à toutes les pages */
:root{
    --bordeaux: #6D071A;
    --rose: #E97A66;
    --bcasser: #FFFFD8;
    --rosef: #BA4C3D;
    --fade: #A66860;
    --beige: #C8AD7F;
    --beige2: #F0CFAE;}

*{box-sizing:border-box;}

img{width:100%;}

a{
    text-decoration:none; 
    color: var(--rosef); 
    font-size:medium; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.container{
    width:80rem; 
    margin-inline:auto;}