/* style communs à toutes les pages */
:root{
    --bordeaux: #6D071A;
    --rose: #E97A66;
    --bcasser: #FFFFD8;
    --rosef: #BA4C3D;
    --fade: #A66860;
}

*{box-sizing: border-box;}

img{width:100%;}

a{text-decoration: none; color: black; font-size:medium;}

.container{width: 80rem; margin-inline: auto;} 